@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: 'Barlow', sans-serif;
}
a {
  text-decoration: none;
  color: #898989;
  padding: 5px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white; 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: relative;
  border-radius: 0 0 10px 10px;
}

h2.logo {
  margin: 0;
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
}

h2.logo a {
  color: #898989;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 125px;
}

.auth-buttons {
  font-size: 20px;
}

.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #A9A9A9;
  min-width: 260px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: white;
  font-size: 12px;
  font-weight: 600; 
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: calc(100% + 10px); 
  left: 0;
  background: #fff;
  width: 260px; 
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease; 
  transform: translateY(-10px); 
}

.btn:focus + .dropdown,
.btn:active + .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); 
}

.dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown li {
  z-index: 1;
  position: relative;
  background: #fff;
  padding: 10px 20px; 
  color: #333; 
}

.dropdown li.active {
  color: #898989;
}

.dropdown li:first-child {
  border-radius: 4px 4px 0 0;
}

.dropdown li:last-child {
  border-radius: 0 0 4px 4px;
}

.dropdown a {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 16px 0;
  color: inherit;
  font-size: 12px; 
  text-decoration: none;
}

.material-icons {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 204, 204, 0.1),
                0 0 0 20px rgba(204, 204, 204, 0.1),
                0 0 0 40px rgba(204, 204, 204, 0.1),
                0 0 0 60px rgba(204, 204, 204, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(204, 204, 204, 0.1),
                0 0 0 40px rgba(204, 204, 204, 0.1),
                0 0 0 60px rgba(204, 204, 204, 0.1),
                0 0 0 80px rgba(204, 204, 204, 0);
  }
}


.conatiner {
  width: 100%;
  height: 500px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-top: 70px;
  padding-bottom: 70px;
}




.box {
  margin: 10px;
  width: 300px;
  height: 520px;
  text-align: center;
  border-radius: 3px;
  transition: 200ms ease-in-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.box:hover {
  margin-bottom: -10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.box h1 {
  color: #fff;
  padding: 30px;
  margin-top: 100px;
  text-align: center;
  font-weight: 100;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.box .date h4 {
  color: #fff;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  background: rgba(0, 0, 0, 0.8);
  padding-top: 15px;
  padding-bottom: 15px;
}

.box .poster {
  width: 130px;
  height: 130px;
  margin: 120px auto;
  position: relative;
  border-radius: 100px;
}

.box .poster h4 {
  top: 16px;
  color: #fff;
  position: relative;
  font-size: 80px;
  text-align: center;
  font-weight: 100;
}

.p1 {
  background: linear-gradient(to right, #2d6a4f, #3b8686); 
  box-shadow: 0 0 20px #2d6a4f;
}

.p2 {
  background: linear-gradient(to right, #ff7e67, #ff9770); 
  box-shadow: 0 0 20px #ff7e67; 
}

.p3 {
  background: linear-gradient(to right, #6d6e7f, #8fa3bf); 
  box-shadow: 0 0 20px #6d6e7f; 
}

.p4 {
  background: linear-gradient(to right, #cb997e, #ddbea9); 
  box-shadow: 0 0 20px #cb997e;
}

.p5 {
  background: linear-gradient(to right, #63707e, #8b9eb2); 
  box-shadow: 0 0 20px #63707e;
} 

.one {
	background: url(img/gym_card.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.two {
	background: url(img/diet.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.three {
	background: url(img/plans.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.five {
	background: url(img/anatamoy.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.six {
	background: url(img/designs.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.wrapper {
  height: 600px;
  position: relative;
  background-color: deepskyblue;
  min-height: 50vh;
}

.custom-shape-divider-bottom-1709393195 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}


.custom-shape-divider-bottom-1709393195 svg {
  position: relative;
  display: block;
  width: calc(171% + 1.3px);
  height: 180px;
}

.custom-shape-divider-bottom-1709393195 .shape-fill {
  fill: #1B1010;
}